<div class="navbar">
    <h2>
        TRANSACTIONS A FAIRE
    </h2>
</div>

<div class="main-container">
    <div class="container">
        <h2>Transactions à faire</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmitExpense()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChangeExpense($event)">
                    <option value="" disabled>Select un mois</option>
                    <option value="January">Janvier</option>
                    <option value="February">Février</option>
                    <option value="March">Mars</option>
                </select>
            </div>
            <div class="form-group">
            </div>
            <div class="total-todoTrans">
                Total des tâches à accomplir pour {{ selectedMonth }}: ${{ calculateTotalExpense(selectedMonth) }}
            </div>
            <div class="form-group">
                <label for="expenseType">Type de transaction:</label>
                <input type="text" formControlName="expenseType" id="expenseType" class="form-control"
                    placeholder="Enter Transaction Type" [class.disabled-dropdown]="!monthSelected">
            </div>

            <div class="form-group">
                <label for="expenseAmount">Montant:</label>
                <input type="number" formControlName="expenseAmount" id="expenseAmount" class="form-control"
                    placeholder="Enter amount" [class.disabled-dropdown]="!monthSelected">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmitExpense()"
                [class.disabled-dropdown]="!monthSelected">Ajouter une Transaction</button>
        </form>
        <hr>
        <h3>Liste des transactions - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Type de transaction</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoTrans of getFilteredExpenses()">
                    <td [ngClass]="{'strikeout': todoTrans.selected}" (click)="toggleSelection(todoTrans)">
                        {{ todoTrans.expenseType }}
                    </td>
                    <td>{{ todoTrans.expenseAmount }}</td>
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <button class="btn btn-primary" (click)="onBack()">Retour</button>
            <div class="form-group">
            </div>
            <button class="btn btn-primary" (click)="saveForm()">Enregistrer</button>
        </div>
    </div>
</div>