<app-side-nav></app-side-nav>
<div class="main-container">
    <div class="container">
        <h2>Historique des transactions</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmitExpense()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChangeExpense($event)">
                    <option value="" disabled>Sélectionnez le mois</option>
                    <option value="January">Janvier</option>
                    <option value="February">Février</option>
                    <option value="March">Mars</option>
                </select>
            </div>
            <div class="form-group">
            </div>
            <div class="total-todoTrans">
                Transactions pour {{ selectedMonth }}: ${{ calculateTotalExpense(selectedMonth) }}
            </div>
        </form>
        <hr>
        <h3>Liste de l’historique des transactions - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Type de transaction</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoTrans of getFilteredExpenses()">
                    <td>{{ todoTrans.expenseType }}</td>
                    <td>{{ todoTrans.expenseAmount }}</td>
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <div class="form-group">
            </div>
            <div class="form-group">
            </div>
            <button class="btn btn-primary" (click)="onBack()">Retour</button>
        </div>
    </div>
</div>